.mainbox{
width: 100%;
height:80px;
background-color:#525050;
}
.container{
    width: 100%;
    margin-left: 15px;
    color: white;
    height: 100%; 
    align-items: center;
}
.HamburgerIconbox{
   display: none;
}
.heading text{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 25px;
    width:200px;
}
.mobile{
    margin-left: 2px;
    width: 50%;
    font-size: 25px;
}
.mobileflex{
    align-items: center;
}
.github{
    position:relative;
    margin-right: 3px;
}
.aboutme{
     position:relative;
    margin-right: 3px;
}
.contact{
    position:relative;
    margin-right: 3px;
}
.resume{
    margin-right:60px;
}
.toggle{
    margin-right: 25px;
}

@media screen and (min-width:0px) and (max-width:325px) {
.mainbox{
width:340px;
height:80px;
color: white;
background-color:#525050;
}
.container{
    width: 320px;
    height: 100%; 
    align-items: center;
}
.drawer{
    width: 300px; 
}
.heading {
    width: 200px;
    margin-left: 10px;
    margin-top: 7px;
    padding: 2px;
    height: 25px;
}
text {
      width: 300px;
      font-size: 25px;
}
.HamburgerIconbox{
    font-size: 35px;
    align-items: center;
    color: rgb(53, 219, 219);
    display: block;
}
.github{
   display: none;
}
.aboutme{
   display: none;
}
.contact{
   display: none;
}
.project{
    display: none;
}
.skill {
    display: none;
}
.techstack{
    display: none;
}
.resume{
    display: none;
}
.toggle{
    display: none;
}
.drawer{
    border: 1px solid red;
}
.drawerbody{
    margin-top: 50px;
    padding: 10px;
    background-color: teal;
}
.drawerflex{
    margin-top: 1px;
    margin-bottom: 2px;
}
.drawertoggle{
    width: 48%;
    height: 40px;
}
.drawertoggle button{
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    background-color: #2fb931b5 ;
}
.drawertoggle button:hover{
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    background-color: #FDB813 ;
}
.drawerresume{
    width: 48%;
   height: 40px;
}
.drawerresume button{
    width: 100%;
    height: 100%;
     color: white;
    font-size: 25px;
    background-color: teal;
}
.drawerresume button:hover{
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
    font-size: 25px;
}
.drawermobileflex{
    width: 100%;
    height: 100%;
    padding: 2px;
    align-content: start;
}
.drawergithub {
    width: 50%;
    height: 100%;
    margin: auto;
}
.icon{
    color: white;
    font-size: 25px;
}
.drawergithub:hover {
    width: 50%;
    height: 100%;
    font-size: large;
    margin: auto;
    background-color: brown;
    color: white;
}
.draweraboutme {
    width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: start;
}
.drawercontact{
     width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: start;
}
.drawercontact:hover {
    width: 50%;
    height: 100%;
    font-size: large;
    margin: auto;
    background-color: brown;
    color: white;
}
.drawerproject{
     width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: start;
}
.drawerproject:hover {
    width: 50%;
    height: 100%;
    font-size: large;
    margin: auto;
    background-color: brown;
    color: white;
}
.draweraboutme:hover{
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: start;
      background-color: brown;
    color: white;
}
.drawerskill{
     width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: start;
}
.drawerskill:hover {
    width: 50%;
    height: 100%;
    font-size: large;
    margin: auto;
    background-color: brown;
    color: white;
}
.drawertechstack{
     width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: start;
}
.drawertechstack:hover {
    width: 50%;
    height: 100%;
    font-size: large;
    margin: auto;
    background-color: brown;
    color: white;
}
}